pytest
numpy
pandas
matplotlib
seaborn
scikit-learn
tensorflow
keras
scipy
statsmodels
xgboost
lightgbm
catboost
nltk
spacy
gensim
scrapy
beautifulsoup4
requests
opencv-python
Pillow
scikit-image
jupyterlab
#jupyter-tensorboard
voila
fastparquet
pca
imblearn
theano-pymc
pymc3
